.sectionDetail {
    margin-top: 15px;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-size: 15px;
    max-width: 500px;
    background-color: white;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
}

.detailImg {
    width: 150px;
}

.detailName {
    font-size: 20px;
    font-weight: bold;
}

.detailPrice {
    font-size: 18px;
    font-weight: bold;
}

.detailStock {
    font-size: 14px;
    font-style: italic;
}

.detailBtn {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.btnShowCarrito{
    text-decoration: none;
    border: none;
    margin: 0px 2px 0px 2px;
    padding: 4px 8px 4px 8px;
    color: #353535;
    background-color: #d4d4d4;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    justify-content: space-evenly
}

.btnVolverInicio{
    text-decoration: none;
    border: none;
    margin: 0px 2px 0px 2px;
    padding: 4px 17px 4px 17px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}