.user-form {
    height: 400px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 500px;
    background-color: none;
}

.btn-primary {
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

.form-label {
    margin-right: 20px;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.text {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}