.contador {
    width: 190px;
    display: flex;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.contador button {
    border: none;
    margin: 0px 2px 0px 2px;
    padding: 4px 8px 4px 8px;
    color: #353535;
    background-color: #d4d4d4;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    justify-content: space-evenly
}

.contador h4 {
    font-size: 14px;
    padding-top: 5px;
}

.cantidad {
    text-align: center;
}

.cantidad h4 {
    background-color: #d4d4d4;
    border-radius: 5px;
    color: #353535;
    padding: 5px;
    margin-top: 6px;
    font-size: 18px;
    width: 150px;
}